{{ with resources.GetRemote "https://dev.to/api//articles?username=comscience" }}
  {{ $postsDevTo := unmarshal .Content }}
  {{ range $postsDevTo }}

    <a href="{{ .canonical_url }}" class="col-6">
        <div class="blog-page__item">
            <div class="blog-page__item-thumb">
                <img src="{{ .cover_image | absURL }}" alt="post-image" 
                onerror="this.src='https://picsum.photos/405/170?blur=1'">
            </div>
            <div class="blog-page__item-content bg-white" style="bottom: -135px;">
                <span class="small">{{ .published_timestamp | time.Format ":date_long" }}</span>
                <h5 class="mb-0">
                    <p class="text-dark" href="{{ .canonical_url }}">{{ .title }}</p>
                </h5>
            </div>
        </div>
    </a>

  {{ end }}
{{ end }}

